.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
}

.navbar-text {
  margin-left: 15px;
}

.unit{
  position: relative;
  padding: 30px 15px;
  text-align: left;
  font-size: 16px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  h1, h2{
    font-weight: normal;
  }
  h2:after{
    width: 100px;
    height: 20px;
    content: ' ';
    clear: right;
    display: block;
  }
  p{
    font-weight: lighter;
  }
}

.dark{
  color: rgb(242, 242, 242);
  background: #5343b9;

  h2:after{
    border-bottom: 1px solid rgb(242, 242, 242);
  }
}

.transparent{
  .dark;
	min-height: 100%;
    background-size: 100% 100%;
  background: rgba(0, 0, 0, 0.65);
	background-repeat: no-repeat;
	background-position: center;

  background-image: url("/assets/images/background.jpg"), url("../../images/header.jpg");
  /* Medium devices (desktops, 992px and up) */
  @media (min-width: @screen-md-min) {
      background-attachment: fixed;
  }


}

.light{
  color: rgb(62, 62, 62);
  background: white;

  h2:after{
    border-bottom: 1px solid rgb(62, 62, 62);
  }
}

.bullet{
  font-size: .8em;
}

.main-unit{
  .unit;
  .dark;
  text-align: center;
  h1{
    font-family: 'Raleway', sans-serif;
  }
}
.purpose-unit{
  .unit;
  .light;
}
.features-unit{
  .unit;
  .transparent;

}
.team-unit{
  .unit;
  .light;
}
.demo-unit{
  .unit;
  .dark;
}
.action-unit{
  .unit;
  .light;
}

.main-image{


}
